span {
    display: inline-block;
    margin-right: 5px;
}

.token {
    border-radius: 7px;
    background: rgba(255,0,0,.2);
}

.inactive {
    /*border-radius: 7px;
    background: rgba(0,0,0,.2)*/
}

#tooltip {
    background: white;
    /*height: 100px;*/
    /*width: 100px;*/
    position: absolute;
    z-index:10002;
    display: none;
}